
# Next.js build output
.next/
out/

# Dependency directories
node_modules/

# System files
.DS_Store

# Vercel files
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# Ignore all MP4 files in the projects folder
public/projects/**/*.mp4
