/* ------------------- Animations ------------------- */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Start 20px below its final position */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Slide to its final position */
    }
}

.fadeInSlideUp {
    animation: fadeInSlideUp 0.5s ease-out forwards;
}

/* Button Disappearance Effect */
@keyframes blingDisappear {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.5; transform: scale(1.2); }
    100% { opacity: 0; transform: scale(0); }
}

/* Rotating X in the site title */
.bling-text .rotating-x {
    display: inline-block;
    animation: rotateX 2s linear infinite;
    color: #f20000;
}

@keyframes rotateX {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
