/* ------------------- Global Reset and Basic Styles ------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 0;
    transition: background-color 0.5s, color 0.5s; /* Smooth transition for dark mode */
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px; /* Optional: Adjust padding if needed */
}

/* Global link styles */
a:not(.project-link) {
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

a:not(.project-link)::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
    transform: translateY(-50%);
}

a:not(.project-link):hover::after {
    width: 100%;
}
