/* ------------------- Dark Mode Styles ------------------- */
.dark-mode {
    background-color: #000; /* Pure black background */
    color: #f0f0f0;
}

.dark-mode .grid,
.dark-mode .project {
    background-color: #000;
}

.dark-mode .site-title a,
.dark-mode .site-description,
.dark-mode .filter-button,
.dark-mode .social-icons .icon {
    color: #bbbbbb;
}

.dark-mode .filter-button:hover,
.dark-mode .filter-button.active,
.dark-mode .social-icons .icon:hover {
    color: #888888;
}

.dark-mode #stop-button {
    border-color: #f0f0f0;
    color: #bbbbbb;
}

.dark-mode header,
.dark-mode .site-footer {
    background-color: #000;
    border-bottom-color: #444;
    color: #f0f0f0;
}

.dark-mode header .site-title a:hover {
    color: #888888;
}

.dark-mode .dark-mode-toggle {
    color: #bbbbbb;
}

.dark-mode .dark-mode-toggle:hover {
    color: #888888;
}
