/* ------------------- Footer Styles ------------------- */
.site-footer {
    padding: 20px;
    background-color: #ffffff;
    transition: background-color 0.5s, color 0.5s; /* Smooth transition for dark mode */
}

/* Align footer content inside the container */
.site-footer .container {
    text-align: left; /* Align text to the left */
}

.coordinates-link {
    color: #777777;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 0.8em;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

.coordinates-link:hover {
    color: #555;
}

/* Dark mode adjustment */
.dark-mode .coordinates-link {
    color: #bbbbbb;
}

.dark-mode .coordinates-link:hover {
    color: #888888;
}
