/* ------------------- Global Reset and Basic Styles ------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 0;
    transition: background-color 0.5s, color 0.5s; /* Smooth transition for dark mode */
}

/* ------------------- Header Styles ------------------- */
header {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.site-title a {
    font-size: 0.9em;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.site-title a:hover {
    color: #555;
}

.site-description {
    margin-top: 10px;
    color: #666;
}

/* ------------------- Footer Styles ------------------- */
.site-footer {
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    transition: background-color 0.5s, color 0.5s; /* Smooth transition for dark mode */
}

.coordinates-link {
    color: #333;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 1em;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

.coordinates-link:hover {
    color: #555;
}

/* ------------------- Project Grid and Item Styles ------------------- */
.grid {
    margin: 0 auto;
    position: relative;
    width: 85% !important;
}

.grid-sizer {
    width: 33.333%; /* 3 columns */
}

.project {
    background-color: #fff;
    width: 33.333%; /* 3 columns */
    margin-bottom: 10px; 
    overflow: hidden;
    transition: opacity 0.4s ease;
}

/* Hidden Class for Filtering */
.hidden {
    display: none;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
    .grid-sizer,
    .project {
        width: 33.333%; /* 3 columns remain on medium screens */
    }
}

@media (max-width: 1024px) {
    .grid-sizer,
    .project {
        width: 50%; /* 2 columns on medium screens */
    }
}

@media (max-width: 768px) {
    .grid-sizer,
    .project {
        width: 100%; /* 1 column on small screens */
    }
}

/* ------------------- Filter Buttons Styles ------------------- */
.filters {
    text-align: center;
    margin-bottom: 10px;
}

.filter-button {
    padding: 10px;
    background: none;
    border: none;
    color: #333;
    margin: 0 5px;
    cursor: pointer;
    font-size: 1em;
    position: relative;
    transition: color 0.3s;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.filter-button:hover,
.filter-button.active {
    color: #555;
}

.filter-button.active::after {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: 50%;
    height: 1px;
    background-color: #333;
    width: calc(100% + 10px);
}

/* ------------------- Dark Mode Styles ------------------- */
.dark-mode {
    background-color: #000; /* Pure black background */
    color: #f0f0f0;
}

.dark-mode .grid,
.dark-mode .project {
    background-color: #000;
}

.dark-mode .site-title a,
.dark-mode .site-description,
.dark-mode .filter-button,
.dark-mode .social-icons .icon {
    color: #f0f0f0;
}

.dark-mode .filter-button:hover,
.dark-mode .filter-button.active,
.dark-mode .social-icons .icon:hover {
    color: #bbb;
}

.dark-mode #stop-button {
    border-color: #f0f0f0;
    color: #f0f0f0;
}

.dark-mode .dark-mode-toggle {
    cursor: pointer;
    font-size: 1em;
    color: #f0f0f0;
    display: inline-block;
}

.dark-mode header,
.dark-mode .site-footer {
    background-color: #000;
    border-bottom-color: #444;
    color: #f0f0f0;
}

.dark-mode header .site-title a:hover {
    color: #bbb;
}

.dark-mode .coordinates-link {
    color: #f0f0f0;
}

.dark-mode .coordinates-link:hover {
    color: #bbb;
}

/* ------------------- Bling Text and Rotating X ------------------- */
.bling-text {
    font-family: Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    color: #d30707;
}

.bling-text .rotating-x {
    display: inline-block;
    animation: rotateX 2s linear infinite;
    color: #f20000;
}

@keyframes rotateX {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ------------------- Button Disappearance Effect ------------------- */
@keyframes blingDisappear {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.5; transform: scale(1.2); }
    100% { opacity: 0; transform: scale(0); }
}

/* ------------------- Social Icons ------------------- */
.social-icons {
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.social-icons .icon {
    margin: 0 10px;
    font-size: 1.5em;
    color: #898989;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons .icon:hover {
    color: #555;
}

/* ------------------- Animations ------------------- */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* ------------------- Fade In Slide Up Effect ------------------- */
.fadeInSlideUp {
    animation: fadeInSlideUp 0.5s ease-out forwards;
}
@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Start 20px below its final position */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Slide to its final position */
    }
}

/* Initial hidden state for images */
.img-hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out; /* Smooth opacity transition */
}

/* Fade-in effect for images */
.fade-in {
    opacity: 1;
}

/* ------------------- Animated Strikethrough for Links ------------------- */
a:not(.project-link) {
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

a:not(.project-link)::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
    transform: translateY(-50%);
}

a:not(.project-link):hover::after {
    width: 100%;
}

/* ------------------- Stop Button Styles ------------------- */
#stop-button {
    position: relative;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    margin: 100px;
}

#stop-button::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
    transform: translateY(-50%);
}

#stop-button:hover::after {
    width: 100%;
}

/* ------------------- Project Hover Effect Styles ------------------- */
.project {
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
    opacity: 0; /* Initial state */
    transition: opacity 0.5s ease-out;
}

.project img.fade-in {
    opacity: 1;
}

.project:hover img {
    transform: scale(1.05);
}

.project-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20); /* Semi-transparent overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 20px;
}

.project:hover .project-info {
    opacity: 1;
}

/* Initially hide the grid */
.grid {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

/* Visible state for the grid */
.grid.is-loaded {
    opacity: 1;
}
