/* components/Project.module.css */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
}

.myMasonryGrid {
    display: flex;
    width: 1000px; /* Ensure the grid fits within the container */
    margin: 0 auto; /* Center the grid within the container */
}

.myMasonryGridColumn {
    padding-left: 5px; /* gutter size */
    padding-right: 5px; /* gutter size */

    background-clip: padding-box;
}

.project {
    margin-bottom: 10px;
    background-color: #fff;
    overflow: hidden;
    position: relative; /* For project-info positioning */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.project:hover {
    transform: translateY(-2px);
}

.projectLink {
    position: relative;
    width: 100%;
    overflow: hidden;

}

.projectImage {
    width: 100%;
    height: auto;
    display: block;

}

.projectInfo {
    padding: 0px;
    background-color: rgba(20, 20, 20, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    text-align: center;
    font-size: 0.8em;
    font-family: Helvetica, Arial, sans-serif;
}

.projectInfo h2 {
    font-weight: 400; /* Lighter stroke, less bold */
    font-size: 1.5em; /* Adjust size as needed */
}

.project:hover .projectInfo {
    opacity: 1;
}

/* Updated Filter Styles */
.filters {
    text-align: left;
    margin-bottom: 10px; /* Updated to match previous style */
}

.filterButton {
    padding: 5px; /* Changed from 10px 15px to 10px */
    margin: 0 10px; /* Changed from margin-right: 10px to match previous */
    background: none; /* Changed from background-color: #f0f0f0 to none */
    border: none;
    color: #777777; /* Set color to match previous */
    cursor: pointer;
    font-size: 0.8em;
    position: relative;
    transition: color 0.3s;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.filterButton:hover,
.filterButton.active {
    color: #555; /* Changed from background-color to color */
}

.active::after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 50%;
    height: 1px;
    background-color: #333;
    width: calc(100%);
}

/* Optional: Adjust the filter button focus state for accessibility */
.filterButton:focus {
    outline: none;
    color: #555;
}

.publications {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin-left: 10px; /* Add margin to the left */
    margin-right: 10px; /* Add margin to the right */
}

.publications p {
    margin-bottom: 1.5rem; /* Space between paragraphs */
}
.doiLink {
    color: #1a73e8 !important; /* Blue color for links */
    text-decoration: underline; /* Underline to indicate clickable */
    margin-left: 5px; /* Space before the link */
    font-style: normal; /* Ensure the DOI link is not italicized */
}

.doiLink:hover {
    color: #0c4da2; /* Darker blue on hover */
}