/* components/Project.module.css */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.myMasonryGrid {
    display: flex;
    margin-left: -20px; /* gutter size offset */
    width: 1000px; /* Ensure the grid fits within the container */
    margin: 0 auto; /* Center the grid within the container */
}

.myMasonryGridColumn {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
}

.project {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    position: relative; /* For project-info positioning */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.project:hover {
    transform: translateY(-5px);
}

.projectLink {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.projectImage {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.projectInfo {
    padding: 10px;
    background-color: rgba(20, 20, 20, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    text-align: center;
}

.project:hover .projectInfo {
    opacity: 1;
}

/* Updated Filter Styles */
.filters {
    text-align: left;
    margin-bottom: 10px; /* Updated to match previous style */
}

.filterButton {
    padding: 10px; /* Changed from 10px 15px to 10px */
    margin: 0 5px; /* Changed from margin-right: 10px to match previous */
    background: none; /* Changed from background-color: #f0f0f0 to none */
    border: none;
    color: #777777; /* Set color to match previous */
    cursor: pointer;
    font-size: 0.8em;
    position: relative;
    transition: color 0.3s;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.filterButton:hover,
.filterButton.active {
    color: #555; /* Changed from background-color to color */
}

.active::after {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: 50%;
    height: 1px;
    background-color: #333;
    width: calc(100% + 10px);
}

/* Optional: Adjust the filter button focus state for accessibility */
.filterButton:focus {
    outline: none;
    color: #555;
}

/* ... Rest of your existing styles ... */
