<!-- Header Section -->
<div class="container">
    <header id="masthead" class="site-header" role="banner">
        <div class="site-branding">
            <h1 class="site-title">
                <a href="/index.html" rel="home" class="bling-text">Ruxin <span class="rotating-x">X</span>ie</a>
            </h1>
            <!-- <p class="site-description">Research Associate at Princeton University</p> -->
            
            <div class="stop-me-section">
                <a href="#" id="stop-button">Stop me</a>
                <p id="message"></p>
            </div>
            
            <!-- Dark Mode Toggle -->
            <div class="dark-mode-toggle">
                <i class="fas fa-moon"></i> <!-- Moon icon for dark mode -->
            </div>
        </div>
    </header>
</div>
